
<h2>
    Wybrałeś kino: {{cinema.name}} z miasta {{cinema.city}}
</h2>
<div *ngFor="let pic of cinema.graphics">
    <img width="100" [src]="pic">
</div>
<h4>JSON:</h4>
    {{cinema | json}}

<div *ngIf="screen" class="screen">
    <h4>JSON screen:</h4>
    <p >
        {{screen | json}}
    </p>
</div>

<div *ngIf="seat" class="screen">
    <h4>JSON screen:</h4>
    <p >
        {{seat | json}}
    </p>
</div>
<ng-container *ngIf="!screen && screenLoading">
    <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>    
    <div> Loading data ... </div>
</ng-container>