<p-dropdown [options]="Cinemas" [(ngModel)]="Cinema" [showClear]="true" placeholder="Select a Cinema" optionLabel="name" (onChange)="change()" (onClear)="clear()" ></p-dropdown>
<app-cinema-details [cinema]="Cinema" [screen]="ScreenCinema" [seat]="ScreenSeat" [screenLoading]="loadingScreen"></app-cinema-details>



